<div class="application" *ngIf="map$ | async as map" #agmMap>
  <agm-map
    (mapReady)="mapReady($event)"
    minZoom="13"
    maxZoom="16"
    class="application__map"
    [zoom]="14"
    [disableDefaultUI]="true"
    [styles]="styles"
    [restriction]="{latLngBounds: {north: map.lat + .05, south: map.lat - .05, west: map.lng -.05, east: map.lng + .05}}"
  >
    <agm-marker
      [latitude]="map.lat"
      [longitude]="map.lng"
    ></agm-marker>
      <ng-container *ngIf="contacts$ | async as contacts">
        <agm-polygon
          *ngFor="let contract of contacts;let i = index; trackBy: trackByFn"
          [strokeColor]="i === 0 ? 'rgba(27,34,52,.3)' : 'rgba(27,34,52,.3)'"
          [fillColor]="i === 0 ? 'rgba(27,34,52,.5)' : 'rgba(27,34,52,.1)'"
          [paths]="contract.point | hexagon"
        >
          <agm-polygon
            *ngIf="contract.warning"
            [strokeColor]="contract.warning === 'police'? 'rgba(0,0,255,.3)' : contract.warning === 'emergency' ? 'rgba(255,0,0,.3)' : 'rgba(255,200,0,.3)'"
            [fillColor]="contract.warning === 'police'? 'rgba(0,0,255,.1)' : contract.warning === 'emergency' ? 'rgba(255,0,0,.1)' : 'rgba(255,200,0,.1)'"
            [paths]="contract.point | hexagon: 100"
          ></agm-polygon>
          </agm-polygon>
      </ng-container>
    </agm-map>

    <div class="application__info">
      <div class="application__info-speed">
        Speed: {{ speed$ | async | number:'1.1-1' }} km/h
      </div>
      <div class="application__info-movement">
        Movement: {{ movement$ | async }}
      </div>
      <div class="application__info-direction">
        Direction: {{direction$ | async | json }}
      </div>
    </div>

    <div class="application__actions">
      <button class="application__actions-btn" (click)="createEmergencySituation('protocol-emergency')" mat-button mat-raised-button color="warn">Emergency situation</button>
      <button class="application__actions-btn" (click)="createEmergencySituation('protocol-fire')" mat-button mat-raised-button color="warn">Fire</button>
      <button class="application__actions-btn" (click)="createEmergencySituation('protocol-police')" mat-button mat-raised-button color="warn">Robbery</button>
    </div>

<!--    <div class="application__control">-->
<!--      <div (click)="setDerection({x: -1})" class="application__control-arrow">⬅️</div>-->
<!--      <div (click)="setDerection({x: 1})" class="application__control-arrow">➡️</div>-->
<!--      <div (click)="setDerection({y: 1})" class="application__control-arrow">⬆️</div>-->
<!--      <div (click)="setDerection({y: -1})" class="application__control-arrow">⬇️</div>-->
<!--    </div>-->

    <div class="application__control" id="joystick-main">
      <div class="joystick-base"></div>
    </div>



</div>
