@import 'variables';

:host {
  display: block;
  flex: 1 1 auto;
}

.application {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100 - var(--footer-height));
  position: relative;
  width: 100%;

  &__map {
    height: 100%;
  }

  &__info {
    background: rgba(255, 255, 255.5);
    color: #000;
    left: 30px;
    padding: $padding;
    position: absolute;
    top: 30px;

    width: 25vw;
  }

  &__actions {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    left: $padding;
    pointer-events: none;
    position: absolute;
    right: $padding;
    text-align: center;


    &-btn {
      flex: 1 1 100%;
      margin: 0 5px 7px;
      pointer-events: all;

      &-icon {
        height: 24px;
        margin-right: em(4);
        width: auto;
      }
    }
  }

  &__control {
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
  }

  &__top-controls {
    display: flex;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__top-buttons {
    margin-left: auto;
  }
}

.joystick-base {
  background-image: url('/assets/images/joystick-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 100%;
  cursor: pointer;
  height: rem(200);
  left: -#{rem(100)};
  position: absolute;
  top: -#{rem(100)};
  touch-action: none;
  user-select: none;
  width: rem(200);
}

::ng-deep .joystick-stick {
  left: 50%;
  position: absolute;
  top: 50%;
  user-select: none;
};

::ng-deep .joystick-stick-inner {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  //background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 100%;
  box-sizing: border-box;
  height: rem(88);
  left: calc(50% - #{rem(44)});
  position: absolute;
  top: calc(50% - #{rem(44)});
  touch-action: none;
  transition: background 0.3s;
  user-select: none;
  width: rem(88);
  will-change: transform;
}

::ng-deep .joystick-stick-direction {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  clip-path: polygon(50% 20%, 50% 80%, 100% 50%);
  height: rem(60);
  left: 50%;
  margin-left: -#{rem(30)};
  margin-top: -#{rem(30)};
  opacity: 0;
  position: absolute;
  top: 50%;
  width: rem(60);
}

::ng-deep .hexagon-bg {
  position: relative;

  &:not(.hexagon-bg--multiple) {
    svg {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--multiple {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    svg {
      display: block;
      height: auto;
      margin-left: em(10);
      width: rem(80);

      &:last-child {
        margin-left: 0;
      }
    }
  }

}
