@import 'variables';

:host {
  display: block;
  flex: 1 1 auto;
}

.application {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  width: 100%;

  &__map {
    height: 100%;
  }

  &__info {
    background: rgba(255, 255, 255.5);
    color: #000;
    left: 30px;
    padding: $padding;
    position: absolute;
    top: 30px;

    width: 25vw;
  }

  &__actions {
    bottom: $padding;
    left: $padding;
    position: absolute;
    right: $padding;
    text-align: center;

    &-btn {
      margin: 0 10px;
    }
  }

  &__control {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
  }

  &__certificates {
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.joystick-base {
  background-image: url('/assets/images/joystick-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 100%;
  //bottom: 32px;
  //left: 32px;
  //height: 116px;
  //width: 116px;
  //
  //border: 10px solid rgba(0, 136, 204, 0.1);
  //background: rgba(0, 136, 204, 0.05);
  //box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) inset, 0 0 5px rgba(0, 0, 0, 0.2);
  //transition: border-color 0.3s;
  cursor: pointer;
  height: rem(200);
  left: -#{rem(100)};
  position: relative;
  top: -#{rem(100)};
  touch-action: none;
  width: rem(200);
}

::ng-deep .joystick-stick {
  left: 50%;
  position: absolute;
  top: 50%;
};

::ng-deep .joystick-stick-inner {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  height: rem(40);
  left: calc(50% - #{rem(20)});
  position: absolute;
  top: calc(50% - #{rem(20)});
  touch-action: none;
  transition: background 0.3s;
  width: rem(40);
  will-change: transform;
}

::ng-deep .joystick-stick-direction {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  clip-path: polygon(50% 20%, 50% 80%, 100% 50%);
  height: rem(60);
  left: 50%;
  margin-left: -#{rem(30)};
  margin-top: -#{rem(30)};
  position: absolute;
  top: 50%;
  width: rem(60);
}
