<div class="container">
    <div class="entity-page" *ngIf="entity.data$ | async as entity; else loadingOrErrorTemplate">
        <a class="back-button" [routerLink]="constants.routes.getCertificate | route">
          <svg class="back-button__ico" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 8L8 12L12 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16 12L8 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="back-button__text">
          {{ 'app.navigation.back' | transloco }}
        </span>
        </a>
        <ui-entity [entity]=" entity"></ui-entity>

        <button
          class="entity-page__get-certificate"
                (click)="getCertificate(entity.id)"
                mat-button mat-raised-button color="warn"
        >Emergency situation</button>
    </div>
</div>

<ng-template #loadingOrErrorTemplate>
    <ng-container *ngIf="entity.error$ | async; else loading">
        Entity is not be loaded
        <!-- <div class="listing__error"></div> -->
    </ng-container>
</ng-template>

<ng-template #loading>
    Loading...
    <!-- <div class="listing__loader"></div> -->
</ng-template>

