<div class="get-certificate-page">
  <div class="get-certificate-page__layout">
    <div class="get-certificate-page__title">
      In what field you have the knowledge to help someone?
    </div>
    <form
      [formGroup]="chooseForm"
      class="get-certificate-page__choose-form mat-form-rounded-theme"
    >
      <mat-radio-group
        formControlName="category"
        aria-labelledby="example-radio-group-label"
        class="get-certificate-page__categories"
        [ngClass]="{'active': this.chooseFormStatus.category.isActive}"
        [(ngModel)]="selectedCategory">
        <mat-radio-button
          [disabled]="category !== '🔥 Firefighting'"
          [checked]="category === '🔥 Firefighting'"
          (focus)="chooseFormCategoryChange()"
          class="get-certificate-page__category"
          *ngFor="let category of categories"
          [value]="category"
        >
          {{category}}
        </mat-radio-button>
      </mat-radio-group>
<!--      <div class="get-certificate-page__separator"><span>or</span></div>-->
<!--      <mat-form-field-->
<!--        [ngClass]="{'active': this.chooseFormStatus.field.isActive}"-->
<!--        class="get-certificate-page__enter-id mat-form-field&#45;&#45;type-1-theme"-->
<!--        floatLabel="never"-->
<!--        color="primary"-->
<!--        appearance="outline"-->
<!--      >-->
<!--        <input-->
<!--          formControlName="field"-->
<!--          (focus)="this.chooseFormStatus.field.isActive = true"-->
<!--          (blur)="chooseFormFieldChangeBlur()"-->
<!--          matInput-->
<!--          placeholder="Enter your Qfield"-->
<!--          value=""-->
<!--        />-->
<!--      </mat-form-field>-->
    </form>
    <div class="get-certificate-page__steps">
      <span class="get-certificate-page__steps-item"></span>
    </div>
    <ng-container *ngIf="certs.data$ | async as list;">
      <a
        [routerLink]="constants.routes.entity | route: entity?.id"
        class="listing__item"
        *ngFor="let entity of list; trackBy: trackByFn"
        color="primary"
        mat-flat-button
        class="get-certificate-page__main-button"
      >
        {{ entity.title.value }}
      </a>
    </ng-container>

<!--    <button-->
<!--      (click)="chooseFormSubmitHandler()"-->
<!--      [disabled]="chooseForm.invalid || chooseFormIsLoading"-->
<!--      color="primary"-->
<!--      mat-flat-button-->
<!--      class="get-certificate-page__main-button"-->
<!--    >-->
<!--      Submit-->
<!--    </button>-->
  </div>
</div>
